.page-container {
    padding: 30px 40px;
}

.page-container h1 {
    margin-bottom: 28px;
}

/* PANEL PRINCIPAL */
.toolbar-panel {
    width: 100%;

    background: white;
    border: 1px solid #e3e3e3;
    border-radius: 12px;

    padding: 26px;

    display: flex;
    flex-direction: column;

    margin: 0 auto 40px auto;

    box-sizing: border-box;
}

/* HEADER FILTROS */
.filters-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 4px;
    margin-bottom: -6px;
}

/* TEXTO "FILTROS" */
.filters-title {
    font-size: 13px;
    font-weight: 600;
    color: #666;
}

/* BOTÓN LIMPIAR */
.clear-filters-btn {
    display: flex;
    align-items: center;
    gap: 6px;

    background: transparent;
    border: none;

    color: #0f6970;

    font-size: 13px;
    font-weight: 600;

    cursor: pointer;

    transition: opacity 0.2s ease;

    transform: translateY(-80px);

}

.clear-filters-btn:hover {
    opacity: 0.7;
}

.clear-filters-btn svg {
    font-size: 14px;
}

/* ICONO TITULO PRINCIPAL */
.title-icon {
    font-size: 48px;
    transform: translateY(5px);
    margin-right: 12px;
}